body {
    font-family: System-UI, Arial;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: left;
    margin-left: 1rem;
    color: #333;
}

p {
    color: #555;
}

input {
    width: 15rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0.5rem;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #0099ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0077cc;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

td {
    border: 1px solid #ccc;
    padding: 0.6rem;
    text-align: left;
    background-color: white;
}

th {
    background-color: #eee;
    color: #333;
    padding: 10px;
}

.remove-button {
    background-color: #444444;
    color: white;
}

/* Bold font for Release column */
td:nth-child(2) {
    font-weight: bold;
}

/* Narrow Delta column */
td:nth-child(n+5) {
    width: 4rem;
}

/* No border for headers and buttons */
th,
td:last-child {
    border: none;
    background-color: #eee;
}

.sortable-header {
    cursor: pointer;
    color: #0099ff;
}

.sortable-header:hover {
    text-decoration: underline;
    color: #0099ffaa;
}

a {
    color: #0099ff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 2% auto;
    width: 95%;
}

.footer {
    font-size: small;
    padding: 5px;
    margin-right: 1rem;
    display: inline-block;
}

.box {
    border: 1px solid #ccc;
    max-width: fit-content;
    display: inline-block;
}

.red {
    background-color: #BB000033;
}

.green {
    background-color: #00BB0033;
}

#version-info {
    display: none;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 0.8em;
        font-stretch: condensed;
        width: 100%;
    }

    h1 {
        text-align: center;
        margin-left: 1rem;
        color: #333;
    }

    th:nth-child(4),
    td:nth-child(4) {
        display: none;
    }

    th:nth-child(n+5),
    td:nth-child(5) {
        display: none;
    }

    th:last-child,
    td:last-child {
        width: 0;
        padding: 2px;
    }

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    p {
        padding-left: 0.2em;
    }

    #project-input {
        margin-left: 0.2em;
    }
}