/* Add some style to the page */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: left;
    margin-left: 1rem;
    color: #333;
}

p {
    color: #555;
}

input {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

button {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #0099ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0077cc;
}

table {
    border-collapse: collapse;
    /* width: 100%; */
    margin-top: 20px;
    max-width: fit-content;
}

td {
    border: 1px solid #ccc;
    padding: 0.6rem;
    text-align: left;
    background-color: white;
}

th {
    background-color: #eee;
    color: #333;
    padding: 10px;
}

.remove-button {
    background-color: #444444;
    color: white;
}

/* Add a bold font for the Latest Release column */
td:nth-child(2) {
    font-weight: bold;
}

td:nth-child(n+5) {
    width: 1px;
}

th, td:last-child {
    border :none;
    background-color: #eee;
  }